In [20]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

In [21]:
dark_sky_csv1 = "rhoad_iland_two.csv"
dark_sky_csv2 = "rhode_iland.csv"

In [22]:
dark_sky_1 = pd.read_csv(dark_sky_csv1)
dark_sky_2 = pd.read_csv(dark_sky_csv2)

In [23]:
frames = [dark_sky_1, dark_sky_2]
dark_sky_df = pd.concat(frames, ignore_index=True)
dark_sky_df.reset_index
dark_sky_df.head(2)

,Day,Detail,Moonphase,Summary,Sunrise,Sunset,cloudCover,dewPoint,humidity,precipIntensity,...,precipProbability,pressure,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,visibility,windGust,windGustTime,windSpeed
0,1493985600,rain,0.34,"Heavy rain starting in the afternoon, continui...",1493977104,1494028147,0.89,48.56,0.88,0.0454,...,1.00,1013.41,57.19,1494039600,48.04,1493956800,6.72,19.78,1494010800,5.37
1,1494072000,rain,0.37,Rain until afternoon.,1494063433,1494114611,0.95,55.80,0.93,0.0098,...,0.99,1000.38,62.46,1494100800,53.73,1494126000,7.21,18.66,1494068400,6.12

In [24]:
len(dark_sky_df)

730

In [25]:
dark_sky_df.drop_duplicates(subset=['Day'], keep= 'first', inplace = True)
len(dark_sky_df)

730

In [26]:
dark_sky_df['Stan_Date'] = pd.to_datetime(dark_sky_df['Day'],unit='s')
dark_sky_df.head(1)

,Day,Detail,Moonphase,Summary,Sunrise,Sunset,cloudCover,dewPoint,humidity,precipIntensity,...,pressure,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,visibility,windGust,windGustTime,windSpeed,Stan_Date
0,1493985600,rain,0.34,"Heavy rain starting in the afternoon, continui...",1493977104,1494028147,0.89,48.56,0.88,0.0454,...,1013.41,57.19,1494039600,48.04,1493956800,6.72,19.78,1494010800,5.37,2017-05-05 12:00:00

In [27]:
dark_sky_df['Stan_Date'] = dark_sky_df['Stan_Date'].dt.date
dark_sky_df.head(1)

,Day,Detail,Moonphase,Summary,Sunrise,Sunset,cloudCover,dewPoint,humidity,precipIntensity,...,pressure,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,visibility,windGust,windGustTime,windSpeed,Stan_Date
0,1493985600,rain,0.34,"Heavy rain starting in the afternoon, continui...",1493977104,1494028147,0.89,48.56,0.88,0.0454,...,1013.41,57.19,1494039600,48.04,1493956800,6.72,19.78,1494010800,5.37,2017-05-05

In [28]:
dark_sky_df['Stan_Date'] = pd.to_datetime(dark_sky_df['Stan_Date'])

In [29]:
dark_sky_df['WEEK'] = dark_sky_df['Stan_Date'].dt.week
dark_sky_df.head(2)

,Day,Detail,Moonphase,Summary,Sunrise,Sunset,cloudCover,dewPoint,humidity,precipIntensity,...,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,visibility,windGust,windGustTime,windSpeed,Stan_Date,WEEK
0,1493985600,rain,0.34,"Heavy rain starting in the afternoon, continui...",1493977104,1494028147,0.89,48.56,0.88,0.0454,...,57.19,1494039600,48.04,1493956800,6.72,19.78,1494010800,5.37,2017-05-05,18
1,1494072000,rain,0.37,Rain until afternoon.,1494063433,1494114611,0.95,55.80,0.93,0.0098,...,62.46,1494100800,53.73,1494126000,7.21,18.66,1494068400,6.12,2017-05-06,18

In [30]:
dark_sky_df = dark_sky_df.reset_index()

In [31]:
dark_sky_week_df = dark_sky_df.groupby(['WEEK']).mean()

In [32]:
dark_sky_week_df.head(2)

,index,Day,Moonphase,Sunrise,Sunset,cloudCover,dewPoint,humidity,precipIntensity,precipIntensityMax,precipProbability,pressure,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,visibility,windGust,windGustTime,windSpeed
WEEK,,,,,,,,,,,,,,,,,,,,
1,426.0,1.530792e+09,0.690000,1.530793e+09,1.530826e+09,0.365714,16.243571,0.656429,0.004693,0.029836,0.237857,1015.136429,32.732857,1.530816e+09,20.227143,1.530808e+09,8.989286,18.432857,1.530816e+09,6.696429
2,433.0,1.531397e+09,0.488571,1.531398e+09,1.531431e+09,0.494286,21.937857,0.665000,0.007407,0.035007,0.280714,1019.783571,38.569286,1.531425e+09,24.914286,1.531410e+09,8.775714,17.655000,1.531406e+09,7.205000

In [33]:
dark_sky_week_df = dark_sky_week_df.drop(columns = ['index','Day'])
dark_sky_week_df.head(2)

,Moonphase,Sunrise,Sunset,cloudCover,dewPoint,humidity,precipIntensity,precipIntensityMax,precipProbability,pressure,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,visibility,windGust,windGustTime,windSpeed
WEEK,,,,,,,,,,,,,,,,,,
1,0.690000,1.530793e+09,1.530826e+09,0.365714,16.243571,0.656429,0.004693,0.029836,0.237857,1015.136429,32.732857,1.530816e+09,20.227143,1.530808e+09,8.989286,18.432857,1.530816e+09,6.696429
2,0.488571,1.531398e+09,1.531431e+09,0.494286,21.937857,0.665000,0.007407,0.035007,0.280714,1019.783571,38.569286,1.531425e+09,24.914286,1.531410e+09,8.775714,17.655000,1.531406e+09,7.205000

In [34]:
#create data base in mysql workbench first then add name to path after local host with root password
engine = create_engine("mysql://root:Pantyh0se22!@localhost/weather_dv")
con = engine.connect()

In [35]:
#loading csv file as db or createing data base from any were. 
# file = "DataOne.csv"
# file_df = pd.read_csv(file)

In [36]:
#Load data frame in to mysql data base as new table name then run. 
dark_sky_week_df.to_sql(name='rhoad_iland_twoyear',con=con,if_exists='append')
con.close()

In [37]:
dark_sky_week_df.to_csv("rhoad_iland_clean.csv", index = False, header = True)