In [78]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import json
import requests
import time
import datetime

# Time Conversion

In [79]:
from datetime import datetime

In [80]:
dt = datetime(2019, 5, 4)

In [81]:
timestamp = dt.timestamp()
timestamp

1556946000.0

In [82]:
time.ctime(int("1556946000"))

'Sat May  4 00:00:00 2019'

In [83]:
time.ctime(int("1525521600"))

'Sat May  5 07:00:00 2018'

# Annual Daily Data Loop

In [84]:
days = [1525521600]

count = 0

for day in days:
    
    day = day + (24 * 60 * 60)
    days.append(day)
    
    if count >=(363):
        break
        
    count +=1

In [85]:
len(days)

365

In [86]:

days[-1]

1556971200

In [87]:
time.ctime(int("1557079200"))

'Sun May  5 13:00:00 2019'

In [88]:
time.strftime("%D", time.localtime(int("1556971200")))

'05/04/19'

# Darksky Query

In [99]:
# Via right clicking dropped pin in Google Maps:
# Cambridge lat: "42.3736"
# Cambridge lon: "71.1097"
# Austin lat: "30.2672"
# Austin lon: "97.7431"
day = "1557079200"
cam_lat = "42.3736"
cam_lng = "71.1097"

aus_lat = "30.2672"
aus_lng = "97.7431"

key = "ae0a24b6601761e0608b0935efd51468"
exclude = "currently,flags,alerts,minutely,hourly"
units = "us"
cam_url = f'https://api.darksky.net/forecast/{key}/{cam_lat},{cam_lng}'
aus_url = f'https://api.darksky.net/forecast/{key}/{aus_lat},{aus_lng}'

#query_url = f"{url},{day}?exclude={exclude}?units={units}"

In [100]:
cam_response = requests.get(f"{cam_url},{day}?exclude={exclude}?units={units}").json()
print(cam_response)

cam_data = cam_response['daily']['data'][0]

cam = {**cam_response, **cam_data}



aus_response = requests.get(f"{aus_url},{day}?exclude={exclude}?units={units}").json()
print(aus_response)


aus_data = aus_response['daily']['data'][0]

aus = {**aus_response, **aus_data}

{'latitude': 42.3736, 'longitude': 71.1097, 'timezone': 'Asia/Almaty', 'daily': {'data': [{'time': 1557079200, 'summary': 'Clear throughout the day.', 'icon': 'clear-day', 'sunriseTime': 1557101161, 'sunsetTime': 1557152457, 'moonPhase': 0.04, 'precipIntensity': 0, 'precipIntensityMax': 0, 'precipProbability': 0, 'temperatureHigh': 53.83, 'temperatureHighTime': 1557129600, 'temperatureLow': 32.71, 'temperatureLowTime': 1557183600, 'apparentTemperatureHigh': 53.83, 'apparentTemperatureHighTime': 1557129600, 'apparentTemperatureLow': 28.86, 'apparentTemperatureLowTime': 1557183600, 'dewPoint': 18.04, 'humidity': 0.4, 'pressure': 1017.96, 'windSpeed': 2.68, 'windGust': 7.51, 'windGustTime': 1557158400, 'windBearing': 85, 'cloudCover': 0, 'uvIndex': 9, 'uvIndexTime': 1557126000, 'visibility': 10, 'ozone': 333.73, 'temperatureMin': 28.91, 'temperatureMinTime': 1557097200, 'temperatureMax': 53.83, 'temperatureMaxTime': 1557129600, 'apparentTemperatureMin': 26.63, 'apparentTemperatureMinTime': 1557093600, 'apparentTemperatureMax': 53.83, 'apparentTemperatureMaxTime': 1557129600}]}, 'offset': 6}
{'latitude': 30.2672, 'longitude': 97.7431, 'timezone': 'Asia/Shanghai', 'daily': {'data': [{'time': 1557072000, 'summary': 'Clear throughout the day.', 'icon': 'clear-day', 'sunriseTime': 1557096192, 'sunsetTime': 1557144642, 'moonPhase': 0.04, 'precipIntensity': 0, 'precipIntensityMax': 0.0002, 'precipIntensityMaxTime': 1557090000, 'precipProbability': 0, 'temperatureHigh': 56.75, 'temperatureHighTime': 1557126000, 'temperatureLow': 32.09, 'temperatureLowTime': 1557183600, 'apparentTemperatureHigh': 56.75, 'apparentTemperatureHighTime': 1557126000, 'apparentTemperatureLow': 29, 'apparentTemperatureLowTime': 1557183600, 'dewPoint': 25.51, 'humidity': 0.51, 'pressure': 1003.9, 'windSpeed': 9.8, 'windGust': 31.06, 'windGustTime': 1557129600, 'windBearing': 223, 'cloudCover': 0.1, 'uvIndex': 15, 'uvIndexTime': 1557118800, 'visibility': 7.82, 'ozone': 253.65, 'temperatureMin': 36.71, 'temperatureMinTime': 1557154800, 'temperatureMax': 56.75, 'temperatureMaxTime': 1557126000, 'apparentTemperatureMin': 30.98, 'apparentTemperatureMinTime': 1557154800, 'apparentTemperatureMax': 56.75, 'apparentTemperatureMaxTime': 1557126000}]}, 'offset': 8}

In [101]:
darksky_data = []

darksky_data.append(cam)
darksky_data.append(aus)

darksky_df = pd.DataFrame(darksky_data)

darksky_df.head()

,apparentTemperatureHigh,apparentTemperatureHighTime,apparentTemperatureLow,apparentTemperatureLowTime,apparentTemperatureMax,apparentTemperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,cloudCover,daily,...,temperatureMinTime,time,timezone,uvIndex,uvIndexTime,visibility,windBearing,windGust,windGustTime,windSpeed
0,53.83,1557129600,28.86,1557183600,53.83,1557129600,26.63,1557093600,0.0,"{'data': [{'time': 1557079200, 'summary': 'Cle...",...,1557097200,1557079200,Asia/Almaty,9,1557126000,10.00,85,7.51,1557158400,2.68
1,56.75,1557126000,29.00,1557183600,56.75,1557126000,30.98,1557154800,0.1,"{'data': [{'time': 1557072000, 'summary': 'Cle...",...,1557154800,1557072000,Asia/Shanghai,15,1557118800,7.82,223,31.06,1557129600,9.80