In [35]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float
import sqlalchemy

In [36]:
dark_sky_csv1 = "mitchell_data/austin/austin_weather1.csv"
dark_sky_csv2 = "mitchell_data/austin/austin_weather2.csv"

In [37]:
dark_sky_1 = pd.read_csv(dark_sky_csv1)
dark_sky_2 = pd.read_csv(dark_sky_csv2)

In [38]:
frames = [dark_sky_1, dark_sky_2]
dark_sky_df = pd.concat(frames, ignore_index=True)
dark_sky_df.reset_index
dark_sky_df.head(2)

,Day,Detail,Moonphase,Summary,Sunrise,Sunset,cloudCover,dewPoint,humidity,precipIntensity,...,precipProbability,pressure,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,visibility,windGust,windGustTime,windSpeed
0,1525521600,partly-cloudy-night,0.68,Partly cloudy in the morning.,1525520719,1525569150,0.32,59.50,0.70,0.0,...,0.0,1019.71,83.86,1525554000,62.04,1525521600,9.26,10.47,1525546800,0.93
1,1525608000,clear-day,0.71,Clear throughout the day.,1525607072,1525655591,0.00,56.44,0.62,0.0,...,0.0,1019.69,88.06,1525640400,56.60,1525608000,10.00,6.21,1525633200,0.22

In [39]:
len(dark_sky_df)

730

In [40]:
dark_sky_df.drop_duplicates(subset=['Day'], keep= 'first', inplace = True)
len(dark_sky_df)

365

In [41]:
dark_sky_df['Stan_Date'] = pd.to_datetime(dark_sky_df['Day'],unit='s')
dark_sky_df.head(1)

,Day,Detail,Moonphase,Summary,Sunrise,Sunset,cloudCover,dewPoint,humidity,precipIntensity,...,pressure,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,visibility,windGust,windGustTime,windSpeed,Stan_Date
0,1525521600,partly-cloudy-night,0.68,Partly cloudy in the morning.,1525520719,1525569150,0.32,59.5,0.7,0.0,...,1019.71,83.86,1525554000,62.04,1525521600,9.26,10.47,1525546800,0.93,2018-05-05 12:00:00

In [42]:
dark_sky_df['Stan_Date'] = dark_sky_df['Stan_Date'].dt.date
dark_sky_df.head(1)

,Day,Detail,Moonphase,Summary,Sunrise,Sunset,cloudCover,dewPoint,humidity,precipIntensity,...,pressure,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,visibility,windGust,windGustTime,windSpeed,Stan_Date
0,1525521600,partly-cloudy-night,0.68,Partly cloudy in the morning.,1525520719,1525569150,0.32,59.5,0.7,0.0,...,1019.71,83.86,1525554000,62.04,1525521600,9.26,10.47,1525546800,0.93,2018-05-05

In [43]:
dark_sky_df['Stan_Date'] = pd.to_datetime(dark_sky_df['Stan_Date'])

In [44]:
dark_sky_df['WEEK'] = dark_sky_df['Stan_Date'].dt.week
dark_sky_df.head(2)

,Day,Detail,Moonphase,Summary,Sunrise,Sunset,cloudCover,dewPoint,humidity,precipIntensity,...,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,visibility,windGust,windGustTime,windSpeed,Stan_Date,WEEK
0,1525521600,partly-cloudy-night,0.68,Partly cloudy in the morning.,1525520719,1525569150,0.32,59.50,0.70,0.0,...,83.86,1525554000,62.04,1525521600,9.26,10.47,1525546800,0.93,2018-05-05,18
1,1525608000,clear-day,0.71,Clear throughout the day.,1525607072,1525655591,0.00,56.44,0.62,0.0,...,88.06,1525640400,56.60,1525608000,10.00,6.21,1525633200,0.22,2018-05-06,18

In [45]:
dark_sky_df = dark_sky_df.reset_index()

In [46]:
dark_sky_week_df = dark_sky_df.groupby(['WEEK']).mean()

In [47]:
dark_sky_week_df.head(2)

,index,Day,Moonphase,Sunrise,Sunset,cloudCover,dewPoint,humidity,precipIntensity,precipIntensityMax,precipProbability,pressure,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,visibility,windGust,windGustTime,windSpeed
WEEK,,,,,,,,,,,,,,,,,,,,
1,243.0,1.546517e+09,0.784286,1.546522e+09,1.546559e+09,0.432857,38.767143,0.791429,0.005057,0.029757,0.232857,1018.840000,58.461429,1.546543e+09,37.124286,1.546527e+09,8.221429,15.682857,1.546552e+09,5.175714
2,250.0,1.547122e+09,0.142857,1.547127e+09,1.547164e+09,0.427143,43.761429,0.687143,0.000514,0.006286,0.061429,1023.284286,63.212857,1.547155e+09,47.115714,1.547143e+09,9.015714,15.691429,1.547149e+09,4.741429

In [48]:
dark_sky_week_df = dark_sky_week_df.drop(columns = ['index','Day'])
dark_sky_week_df.head(2)

,Moonphase,Sunrise,Sunset,cloudCover,dewPoint,humidity,precipIntensity,precipIntensityMax,precipProbability,pressure,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,visibility,windGust,windGustTime,windSpeed
WEEK,,,,,,,,,,,,,,,,,,
1,0.784286,1.546522e+09,1.546559e+09,0.432857,38.767143,0.791429,0.005057,0.029757,0.232857,1018.840000,58.461429,1.546543e+09,37.124286,1.546527e+09,8.221429,15.682857,1.546552e+09,5.175714
2,0.142857,1.547127e+09,1.547164e+09,0.427143,43.761429,0.687143,0.000514,0.006286,0.061429,1023.284286,63.212857,1.547155e+09,47.115714,1.547143e+09,9.015714,15.691429,1.547149e+09,4.741429

In [49]:
#create data base in mysql workbench first then add name to path after local host with root password
engine = create_engine("mysql://root:aggie1234@localhost/ETL")
con = engine.connect()

NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:mysql

In [ ]:
#loading csv file as db or createing data base from any were. 
# file = "DataOne.csv"
# file_df = pd.read_csv(file)

In [ ]:
#Load data frame in to mysql data base as new table name then run. 
dark_sky_week_df.to_sql(name='austin_weather',con=con,if_exists='append')
con.close()