In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

In [2]:
dark_sky_csv1 = "output_data/Dark Sky Seattle May 4th 2017 - May 4th 2018.csv"
dark_sky_csv2 = "output_data/Dark Sky Seattle May 5th 2018 - May 4th 2019.csv"

In [3]:
dark_sky_1 = pd.read_csv(dark_sky_csv1)
dark_sky_2 = pd.read_csv(dark_sky_csv2)

In [4]:
frames = [dark_sky_1, dark_sky_2]
dark_sky_df = pd.concat(frames, ignore_index=True)
dark_sky_df.reset_index
dark_sky_df.head(2)

,Day,Detail,Moonphase,Summary,Sunrise,Sunset,cloudCover,dewPoint,humidity,precipIntensity,...,precipProbability,pressure,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,visibility,windGust,windGustTime,windSpeed
0,1493985600,rain,0.34,Rain in the morning.,1493988372,1494041298,0.84,49.36,0.81,0.0085,...,0.79,1012.00,59.90,1493967600,48.07,1494050400,9.95,12.78,1494018000,2.63
1,1494072000,partly-cloudy-day,0.37,Mostly cloudy until evening.,1494074682,1494127781,0.66,40.25,0.71,0.0018,...,0.44,1020.59,57.47,1494111600,43.08,1494075600,10.00,8.62,1494122400,0.75

In [5]:
len(dark_sky_df)

730

In [6]:
dark_sky_df.drop_duplicates(subset=['Day'], keep= 'first', inplace = True)
len(dark_sky_df)

730

In [7]:
dark_sky_df['Stan_Date'] = pd.to_datetime(dark_sky_df['Day'],unit='s')
dark_sky_df.head(1)

,Day,Detail,Moonphase,Summary,Sunrise,Sunset,cloudCover,dewPoint,humidity,precipIntensity,...,pressure,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,visibility,windGust,windGustTime,windSpeed,Stan_Date
0,1493985600,rain,0.34,Rain in the morning.,1493988372,1494041298,0.84,49.36,0.81,0.0085,...,1012.0,59.9,1493967600,48.07,1494050400,9.95,12.78,1494018000,2.63,2017-05-05 12:00:00

In [8]:
dark_sky_df['Stan_Date'] = dark_sky_df['Stan_Date'].dt.date
dark_sky_df.head(1)

,Day,Detail,Moonphase,Summary,Sunrise,Sunset,cloudCover,dewPoint,humidity,precipIntensity,...,pressure,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,visibility,windGust,windGustTime,windSpeed,Stan_Date
0,1493985600,rain,0.34,Rain in the morning.,1493988372,1494041298,0.84,49.36,0.81,0.0085,...,1012.0,59.9,1493967600,48.07,1494050400,9.95,12.78,1494018000,2.63,2017-05-05

In [9]:
dark_sky_df['Stan_Date'] = pd.to_datetime(dark_sky_df['Stan_Date'])

In [10]:
dark_sky_df['WEEK'] = dark_sky_df['Stan_Date'].dt.week
dark_sky_df.head(2)

,Day,Detail,Moonphase,Summary,Sunrise,Sunset,cloudCover,dewPoint,humidity,precipIntensity,...,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,visibility,windGust,windGustTime,windSpeed,Stan_Date,WEEK
0,1493985600,rain,0.34,Rain in the morning.,1493988372,1494041298,0.84,49.36,0.81,0.0085,...,59.90,1493967600,48.07,1494050400,9.95,12.78,1494018000,2.63,2017-05-05,18
1,1494072000,partly-cloudy-day,0.37,Mostly cloudy until evening.,1494074682,1494127781,0.66,40.25,0.71,0.0018,...,57.47,1494111600,43.08,1494075600,10.00,8.62,1494122400,0.75,2017-05-06,18

In [11]:
dark_sky_df = dark_sky_df.reset_index()

In [12]:
dark_sky_week_df = dark_sky_df.groupby(['WEEK']).mean()

In [13]:
dark_sky_week_df.head(2)

,index,Day,Moonphase,Sunrise,Sunset,cloudCover,dewPoint,humidity,precipIntensity,precipIntensityMax,precipProbability,pressure,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,visibility,windGust,windGustTime,windSpeed
WEEK,,,,,,,,,,,,,,,,,,,,
1,426.0,1.530792e+09,0.694286,1.530806e+09,1.530837e+09,0.657857,37.747857,0.853571,0.004650,0.019150,0.532857,1018.093571,46.435714,1.530825e+09,37.935000,1.530811e+09,6.375714,7.647857,1.530819e+09,2.168571
2,433.0,1.531397e+09,0.494286,1.531411e+09,1.531442e+09,0.651429,41.089286,0.850714,0.004793,0.019586,0.600000,1015.947857,50.097857,1.531437e+09,41.689286,1.531423e+09,6.140714,5.750714,1.531428e+09,1.529286

In [14]:
dark_sky_week_df = dark_sky_week_df.drop(columns = ['index','Day'])
dark_sky_week_df.head(2)

,Moonphase,Sunrise,Sunset,cloudCover,dewPoint,humidity,precipIntensity,precipIntensityMax,precipProbability,pressure,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,visibility,windGust,windGustTime,windSpeed
WEEK,,,,,,,,,,,,,,,,,,
1,0.694286,1.530806e+09,1.530837e+09,0.657857,37.747857,0.853571,0.004650,0.019150,0.532857,1018.093571,46.435714,1.530825e+09,37.935000,1.530811e+09,6.375714,7.647857,1.530819e+09,2.168571
2,0.494286,1.531411e+09,1.531442e+09,0.651429,41.089286,0.850714,0.004793,0.019586,0.600000,1015.947857,50.097857,1.531437e+09,41.689286,1.531423e+09,6.140714,5.750714,1.531428e+09,1.529286

In [16]:
#create data base in mysql workbench first then add name to path after local host with root password
engine = create_engine("mysql://root:RootBeer748*@localhost/bob_from_accounting")
con = engine.connect()

In [17]:
#loading csv file as db or createing data base from any were. 
# file = "DataOne.csv"
# file_df = pd.read_csv(file)

In [18]:
#Load data frame in to mysql data base as new table name then run. 
dark_sky_week_df.to_sql(name='seattle_darksky',con=con,if_exists='append')
con.close()